#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with python3

override_dh_update_autotools_config:
	sed -i 's/radexreader-local /python3-radexreader-deb /g' src/radexreader-cli.py
